<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superfun Polls - Poll Page</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Page JS - this does not seem to work in a linked file-->
    <script type="text/javascript">
      const userLink = "<%=poll.user_link%>";
      const pollID = "<%=poll.poll_id%>";
      const anonymous = ("<%=poll.anonymous%>" === "false"? false : true);

      // validates input for text fields
      const validateText = (str) => {
        if (str === null || str === '' || str.length > 255) {
        return null;
      }
        let div = document.createElement('div');
        div.appendChild(document.createTextNode(str));
        return div.innerHTML;
      };

      // generates poll weightings from serialised data presented as `option=X`
      const generateWeightings = (listofOptions) => {
        const weightings = [];
        for (let i = 0; i < listofOptions.length; i++) {
          const selectedOptionID = listofOptions[i].slice(7);
          weightings.push([selectedOptionID, (listofOptions.length - i) / listofOptions.length]);
        };
        return weightings;
      };

      $(document).ready( () => {
          // sortable list
          $( function() {
            $( "#sortable" ).sortable();
            $( "#sortable" ).disableSelection();
          });

          // submission logic
          $( "#submitOrder" ).click( () => {
            const voter_name = validateText($( "#name" ).val());
            // requires name if poll is not anonymous
            if (!anonymous && !voter_name) {
              $("#error-msg").show(200);
              setTimeout(() => $("#error-msg").hide(200), 3600);
            } else {
              // generates weightings for options based on their order in list
              const weightings = generateWeightings($( "#sortable" ).sortable( "serialize", { key: "option" } ).split("&"))
              $.ajax(`/${userLink}`, {
              method: "POST",
              data: {
                poll_id: pollID,
                name: voter_name,
                responses: weightings }
              })
              .then( (res) => {
                if (res === "Poll submitted successfully!") {
                  window.location.assign("/");
                }
              });
            }
          })
      });
    </script>

  </head>

  <body>
    <header class="homepage-title">
      <h1 id="question"><%= poll.question %></h1>
    </header>
    <main class="homepage-container">
      <form id="poll">
        <ul id="sortable">

          <% for(let option of poll.options) { %>
          <li id="item_<%= option.id %>"class="ui-state-default option"><span class="ui-icon ui-icon-arrowthick-2-n-s"><%= option.title %></span></li>
          <% } %>
          </ul>
          <input id="name" type="text" placeholder="Your Name">
        </form>
        <p id="error-msg" style="display: none">
          The poll creator has requested your name! (255 chars max)
        </p>
      <button id="submitOrder">Submit</button>
    </main>
  </body>



</html>
