<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/result.css" type="text/css" />

    <title>Results</title>
  </head>
  <body>
    <header class="homepage-title">
      <h1>Superfun Poll App</h1>
    </header>
    <main class="result-container">
      <% if (question['error']) { %>
        <h1 class="question">Sorry! that poll does not exists.</h1>
      <% } else { %>
        <h1 class="question"><%= question %></h1>
      <% } %>
      <% if (results['error'] && !question['error']) { %>
        <h3 class="error-message">Sorry! no one has responded to your poll yet :(</h3>
        <% } else if (!question['error']) { %>
          <ul class="list-group">
          <% for (item in results) { %>
            <div class="list-group-container" style="width:<%= results[item][4] %>%;border-color:<%= results[item][3] %>;box-shadow: 0 0 15px <%= results[item][3] %>;">
            <!-- results[item][0]: option title | results[item][1]: percentage of borda points | results[item][2]: option_id | results[item][3]: color -->
              <li class="list-group-item" id="item-<%= [item][0] %>">(<%= results[item][1] %>%) - <%= results[item][0] %>
              </li>
            <!-- first_option[option_id] contains and array of voter_names who picked that option_id as their first choice -->
            <% if (firstOption[results[item][2]]) { %>
              <li class="first-choice list-group-item" id="first-<%= [item][0] %>" style="width:<%= results[item][4] %>%;border-color:<%= results[item][3] %>;">↳ Top choice for: <%= firstOption[results[item][2]] %>
              </li>
            <% } %>
            </div>
            <% } %>
          </ul>
        <% } %>
      <a class="new-poll-link" href="/new">Make another poll</a>
    </main>
  </body>
